.story-gradient {
    position: relative;
    width: 5.5rem;
    height: 5.5em;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #e31db1, #d300c5, #fb0171, #ff7306, #fdd36b);
}

.story-white {
    position: absolute;
    top: 3.5%;
    left: 3.5%;
    width: 93%;
    height: 93%;
    border-radius: 50%;
    background: white;
    padding: 0.3rem;
}